body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #f4f4f4;
}

header {
    background-color: #7BA961;
    color: white;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2em;
    text-align: center;
    margin-bottom: 300px; /* Ajustement pour laisser de l'espace pour le footer */
    text-align: center;
}

main h1 {
    color: #7BA961;
    font-size: 2em;
}

main p {
    font-size: 1.2em;
    margin: 1em 0;
}

main img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
}

footer {
    background-color: #7BA961;
    color: white;
    text-align: center;
    padding: 0.5em 0;
    /*position: fixed;*/ 
    width: 100%;
    bottom: 0;
    clear: both;
}

/* Styles pour le formulaire d'ajout d'arbre */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 1em;
}

form label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
}

form input, form select {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}

form button {
    padding: 0.7em;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

/* Styles pour la table de visualisation des arbres */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

form {
    flex: 1;
}

form button:hover {
    background-color: #555;
}

/* Style pour le fond rouge */
table td[style*="background-color: red"] {
    background-color: red;
}

/* Style pour le fond vert */
table td[style*="background-color: green"] {
    background-color: green;
}

/* pour cacher le curseur par défaut */

body {
    cursor: none;
  }

form {
    cursor: none;
  }

head {
    cursor: none;
  }

footer {
    cursor: none;
  }

/* pour définir le curseur personnalisé */
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px; /* Largeur de votre image de curseur */
    height: 30px; /* Hauteur de votre image de curseur */
    background-image: url('../images/arbre.jpg'); /* Chemin vers votre image de curseur */
    background-size: cover;
    pointer-events: none; /* Permet aux événements de souris de passer à travers */
    z-index: 9999; /* Assurez-vous que le curseur est au-dessus de tout le reste */
  }  

.form-row {
    display: flex;
    justify-content: space-between;
    margin-right: -0.5em; /* Ajustement pour corriger l'espace excessif */
}

.form-row div {
    flex: 1;
    margin-right: 0.5em; /* Marge entre les champs */
}

.form-row div:last-child {
    margin-right: 0; /* Supprimer la marge du dernier élément pour éviter un espace excessif */
}

.form-row label {
    display: block;
    margin-bottom: .5em;
    color: #333;
}

.form-row input {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    width: 100%; /* Largeur des champs */
    box-sizing: border-box;
    border-radius: 4px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Ajuste l'espacement entre les formulaires et la carte */
    gap: 20px;
    margin-bottom: 20px; /* Espacement en bas de la div container */
}
.slider-container {
    margin-top: 25px; /* Espacement en haut des sliders */
    margin-bottom: 25px; /* Espacement en bas des sliders */
}
.slider {
    width: 100%; /* Largeur du slider à 100% pour occuper toute la largeur disponible */
    margin-bottom: 75px; /* Espacement entre les sliders */
}

.bg-image1 {
    background-image: url('../images/image-projet1.jpg');
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    min-height: 100vh; /* Ensure full viewport height coverage */
    padding: 20px; /* Optional: Add padding for content */
}

.bg-image2 {
    background-image: url('../images/image-projet2.jpg');
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    min-height: 100vh; /* Ensure full viewport height coverage */
    padding: 20px; /* Optional: Add padding for content */
}

.bg-image3 {
    background-image: url('../images/image-projet3.jpg');
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    min-height: 100vh; /* Ensure full viewport height coverage */
    padding: 20px; /* Optional: Add padding for content */
}

.apply-filters-btn {
    transition: transform 0.3s ease; /* Animation douce */
}

.apply-filters-btn:hover {
    transform: scale(1.1); /* Grossit le bouton de 10% */
}

.login-btn {
    transition: transform 0.3s ease; /* Animation douce */
}

.login-btn:hover {
    transform: scale(1.1); /* Grossit le bouton de 10% */
}

.progress-bar {
    background-color: #7BA961; /* Vert */
    /* Autres styles de la barre de progression */
}

.progress {
    height: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #8B4513; /* Couleur de fond de la barre de progression */
    border-radius: 4px;
}

.progress-bar {
    background-color: #7BA961; /* Couleur du niveau de progression */
    width: 0%; /* Définir la largeur initiale à 0 et ajuster dynamiquement avec JS */
    height: 100%;
}

/* Ajoute une marge inférieure au menu déroulant */
.filter-select {
    margin-bottom: 20px;
}

/* Ajoute une marge supérieure au bouton */
.filter-button {
    margin-top: 20px;
}

/* Style pour les lignes avec fond beige */
.beige-row td {
    background-color: #8B4513;
}

/* Style pour les lignes avec fond blanc */
.white-row td {
    background-color: darkolivegreen;
}

.button_select {
    background-color: #8B4513;
    color: white;
    border-radius: 4px;
    height: 50px; /* Augmentation de la hauteur */
    padding: 10px 20px; /* Ajout de padding pour plus d'espace à l'intérieur du bouton */
    font-size: 18px; /* Augmentation de la taille de la police */
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer; /* Ajout du curseur pointeur pour indiquer que c'est un bouton cliquable */
}

#map {
    height: 600px;
    width: 600px;
    margin-top: 20px;
}







